*.classpath
*.project
*.prefs
*.prefs
*.prefs
/org.robo/target/classes/META-INF/maven/org.robo/org.robo/pom.xml
/org.robo/target/classes/META-INF/maven/org.robo/org.robo/pom.properties
/org.robo/target/classes/META-INF/MANIFEST.MF
